console.log("create js connected!")

var new_task = $("<%= escape_javascript(render @task) %>");

new_task.hide();

console.log(new_task)

new_task.fadeIn();

$("#form_task").after(new_task);

$("#form_task #task_body").val("");


$("#pending_count").replaceWith("<span class='badge badge-pill badge-secondary' id='pending_count'><%= @tasks.pending.count %></span>")
$("#progress_count").replaceWith("<span class='badge badge-pill badge-secondary' id='progress_count'><%= @tasks.progress.count %></span>")
$("#completed_count").replaceWith("<span class='badge badge-pill badge-secondary' id='completed_count'><%= @tasks.completed.count %></span>")
