console.log("destroy js connected!")
$("#<%= dom_id(@task) %>").slideUp(function() {

  this.remove();
});



$("#pending_count").replaceWith("<span id='pending_count'><%= @tasks.pending.count %></span>")
$("#progress_count").replaceWith("<span id='progress_count'><%= @tasks.progress.count %></span>")
$("#completed_count").replaceWith("<span id='completed_count'><%= @tasks.completed.count %></span>")
