<% if notice.present? %>
      <p class="alert alert-primary w-50 mx-auto mt-4"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
      <p class="alert alert-danger w-50 mx-auto mt-4"><%= alert %></p>
<% end %>
